body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
}

h1 {
    color: rgb(250, 184, 99);
    text-align: center;
}

form {
    background-color: rgb(65, 60, 49);
    padding: 20px;
    border-radius: 30px;
}